<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questions</title>
</head>

<body>
    <h1>Questions</h1>
    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/questions">question</a></li>
        <li><a href="/types">types</a></li>
    </ul>
    <p>
        <%= allQuestions %>
    </p>
</body>

</html>