@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-bubble{
    font-family: 'Lilita One', cursive;
}
#logo-text{
    font-family: 'Lilita One', cursive;
    text-shadow: 0.1em 0.05em #000
}

#waffle {
  transform: translate(50px, -15px);
  position: fixed;
  transform: translateX(50%);
  left: -40px;
}

@screen sm {
  #waffle {
    position: static;
    transform: translate(50px, -15px)
  }
}

.action-icon{
    cursor: pointer;
}

@layer components {
    .scrollbar::-webkit-scrollbar {
      width: 4px;
      height: 10px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;
      background: rgba(0,0,0,.2)
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #BA2829;
      border-radius: 100vh;
      border: 3px solid #BA2829;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      /* background: #c0a0b9; */
    }
  }
