@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-login {
    position: fixed;
    top: 60px;
    right: 280px;
    z-index: 10;
}

@media all and (min-width:320px) and (max-width:530px) {
    .btn-login {
        right: 20px;
    }
}

@media all and (min-width:531px) and (max-width:790px) {
    .btn-login {
        right: 20px;
    }
}